<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5 mt-3 pt-3 neon">
            <h1 class="top-title">
                <%= link_to "MidNight　Bar", root_path, class: "underbar_none" %>
            </h1>
        </div>
    </div>
</div>

    <div class="billboard">
        <p>
            F3 〇〇〇〇〇<br>
            <small>営業時間: 9:00 ~ 20:00</small>
        </p>
        <p>
            F2 〇〇〇<br>
            <small>営業時間: 10:00 ~ 18:00</small>
        </p>
        <p>
            F1 〇〇〇〇〇〇〇<br>
            <small>営業時間: 10:00 ~ 21:00</small>
        </p>
        <p>
            B1 MidNight Bar<br>
            <small>営業時間: 21:00 ~ 04:00</small>
        </p>


    </div>


    <div class="signboard">
        <div class="signboard-body">
            <ul class="board-list">
                <li class="board-title">midnight bar</li>
                <li>B1</li>
                <li>&lt; enter</li>
            </ul>
        </div>
        <div class="signboard-stand">
        </div>
        <div class="signboard-foot">
        </div>



    </div>












