* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.underbar_none {
  text-decoration: none !important;
  color: orange !important;
}



@font-face {
font-family: 'Neoneon';
  src: url('/fonts/Neoneon.otf') format('opentype');
}



body {
  background: #000;
}


@keyframes blinking {
	0% {opacity: 0.8}
	15% {opacity: 0.9}
	25% {opacity: 0.8}
	38% {opacity: 0.9}
	50% {opacity: 0.8}
	90% {opacity: 1}
	95% {opacity: 0}
	100% {opacity: 0.9}
}

.neon {
  animation: blinking 8s infinite alternate;
  justify-content: center;
  width: 300px;
  border: 3px solid orange;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0px 0px 20px orange inset,0 0 50px orange;
}
.top-title {
  font-family: "Neoneon";
  color: orange;
  text-shadow: 1px 1px 2px orange, 0 0 1em orange, 0 0 0.2em orange;

}



@keyframes billboard {
  	0% {opacity: 1}
    50% {opacity: 1}
    95% {opacity: 0.9}
    100% {opacity: 1}
}

.billboard {
  background: #fff;
  width: 250px;
  height: 250px;
  bottom: 250px;
  left: 10%;
  position: absolute;
  animation: billboard 8s ease-in infinite alternate;
  box-shadow: 1px -1px 50px gray;
  border-radius: 10px;

}

.billboard p {
  font-weight: bold;
  margin:0 20px;
  color: #181818;
  padding: 4px;
  border-bottom: solid 1px;
}



@keyframes signboard {
	0% {opacity: 0.8}
	15% {opacity: 0.4}
	18% {opacity: 0.6}
	20% {opacity: 1}
	38% {opacity: 0.6}
	50% {opacity: 0.8}
	90% {opacity: 1}
	95% {opacity: 0.5}
	100% {opacity: 0.9}
}



.signboard {
  bottom: -300px;
  right: -80%;

  position: relative;
}

.board-list {
  height: 230px;
  width: 180px;
  font-size: 25px;
  text-align: center;
  font-family: "Neoneon";
  color: orange;
  border-radius: 15px;
  border: 4px solid orange;
  box-shadow: 0px 0px 20px orange inset,0 0 50px orange;
  animation: signboard 20s ease-in infinite alternate;
}

.board-list li {
  margin-top: 10px;
}

.board-title {
  padding: 2px 0 0 4px;
  margin: 4px;
  padding-bottom: 3px;
  border-bottom: solid 1px;
  font-size: 28px;

}

.signboard-stand {
  width: 20px;
  height: 50px;
  background-color: #fff;
  bottom: 16px;
  left: 80px;
  position: absolute;
  position: relative;
}

.signboard-foot {
  width: 100px;
  height: 20px;
  left: 40px;
  bottom: 0;


  background-color: #fff;
  position: absolute;
}



